.card {
    background-color: #ffffff;
    padding: 16px; 
  }
  
  .card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 8px;
  }
  
  .card__title {
    color: #000000;
    font-size: 14px;
  }
  
  .card__description {
    color: #282828;
    font-size: 12px;
  }
body {
    background-color:#C4C4C4}

header {
  background-color: #ffffff;
  width: 250px;
  height: 200px;
}

footer {
    background-color:#ffffff;
    width:100px;
    height:150px;
}
